table {
    display: block;
    justify-content: space-between;
    width: 600px;
    gap: 1em;
    margin: 2em 0;
    padding: 1em;
    border: 1px solid #74c69d;
    border-radius: 99px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px #081c15;
    transition: transform 0.3s ease;
}

/* Contenedor con scroll interno */
.table-container {
    width: 100%;
    max-width: 620px; /* Se ajusta al tamaño de la tabla */
    margin: auto;
}

.scrollable-table {
    max-height: 300px; /* Ajusta la altura según sea necesario */
    overflow-y: auto;
}

/* Se asegura que los encabezados sean visibles al hacer scroll */
thead {
    position: sticky;
    top: 0;
    background-color: #f9f9f9; /* Mantiene el color de fondo */
    z-index: 10;
}

tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3em;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-left: 1.3em;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Ajuste para que las columnas mantengan su alineación */
thead tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

tbody tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
