node_modules/
.vscode/
package-lock.json
yarn.lock
.DS_Store
build/
coverage/
.env
.env.local  # local env variables
*.log
.npmrc
.dist
P1_S4/client/viatracker/dist/index.html
P1_S4/client/viatracker/dist/assets/index-8HiTnYOy.js
P1_S4/client/viatracker/dist/assets/index-KbfIUwwU.css
