body {
    font-family: 'system ui', sans-serif;
    color: #000814;
    margin: 0;
    padding: 0 0 0 15px;
    background-color: #8b6b00;
}
#map-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#map {
    height: 400px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
}
