header {
  background-color: #081c15;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  font-size: 24px;
  color: #74c69d;
  border-radius: 9px;
  backdrop-filter: blur(10px);
}

.MapaTitle {
  font-size: 30px;
  margin: 2em 0 0.5em 2em;
  align-content: center;
}

.Mapa {
  height: 600px;
  width: 50%;
  box-shadow: 0 4px 8px #2d6a4f;
  transition: transform 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin: 2em 16em 0 10em;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.Rutas {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px #2d6a4f;
  transition: transform 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
  padding: 15px 15px 15px 15px;
}